* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  all: unset;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  background-color: rgb(255, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 254px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(219, 97, 97, 0.9),
    rgba(175, 82, 24, 0.9)
  );
}

.first-heading {
  font-size: 65px;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.9;
  color: white;
  margin-top: 75px;
}

.first-heading--span {
  font-weight: 300;
}

.container {
  width: 1050px;
  height: 520px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-top: 55px;
  display: flex;
  overflow: hidden;
}

.textarea {
  resize: none;
  flex: 2;
  font: inherit;
  padding: 30px 40px;
  font-size: 22px;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-wrap:unrestricted
}

.textarea::placeholder {
  font-weight: 500;
  color: gainsboro;
}

.stats {
  flex: 1.3;
  background-color: rgb(254, 243, 243);
  display: flex;
  flex-wrap: wrap;
}

.stat {
  flex: 1 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat:nth-child(1),
.stat:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.stat:nth-child(2),
.stat:nth-child(4) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.stat__number {
  color: rgb(104, 104, 104);
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}

.stat__title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: rgb(104, 104, 104);
}

.footer {
  width: 1050px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}

.stat__title--alert {
  color: rgb(196, 98, 98);
}

.stat__number--alert {
  color: rgb(196, 98, 98);
}

@media (max-width: 1050px) {
  .first-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 7vw;
    margin-top: 60px;
  }

  .stat {
    padding: 15px 10px;
  }

  .container {
    width: 85vw;
    flex-direction: column;
  }

  .stat:nth-child(1),
  .stat:nth-child(2),
  .stat:nth-child(4) {
    border: none;
  }

  .stat__number {
    font-size: 20px;
  }

  .footer {
    width: 85vw;
    flex-direction: column;
    align-items: center;
  }
}
